.btn-dashboard-primary {
  --bs-btn-padding-x: 1em;
  --bs-btn-padding-y: .5em; 
  --bs-btn-font-size: .925rem;
}

.btn-outline-primary {
  --bs-btn-color: #272727;
  --bs-btn-hover-color: #fff;
}

.btn-lg {
  --bs-btn-font-size: 1.175em;
  --bs-btn-border-radius: 7px;
  --bs-btn-padding-x: 26px;
  height: 50px;
}