@import "@/styles/variables";
@import "sidebar";
@import "auctions";

.dashboard {
  background-color: #f5f8fa;

  .breadcrumb {
    padding: 0;
    background-color: transparent;

    &-item {
      font-size: .875em;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      content: "-";
    }
  }
  .dashboard-header {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 60px;

    h4 {
      color: $primary-color;
    }

    .user-avatar {
      display: flex;
      align-items: center;
    }
    
    .avatar {
      margin-right: 10px;
    }

    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.05);
  }

  .content {
    margin-top: $sidebar-height;
  }


  &-main-content {
    padding-top: calc($sidebar-height + 1em);
    margin-left: $sidebar-width;
    min-height: 100vh;
    padding-left: 1em;
    padding-right: 1em;

    .page-title {
      h1 {
        font-size: 1.5em;
        line-height: 1.5em;
      }
    }

    .content-card {
      border-color: transparent;
      box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
      border-radius: 0.625rem;
    }
  }

  @import 'forms/input';
}
