
// Font Family
$quicksand: 'Quicksand', sans-serif;

$mulish: 'Mulish', sans-serif;

// $font-family-sans-serif: 
// "Poppins", -apple-system, 
// "Segoe UI", Roboto, "Helvetica Neue", 
// "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$primary-color: #272727;
$secondary-color: #F3F3F3;
$tertiary-color: #FE3434;
$brown: #4b4743;

$body-color: #272727;
$body-bg: #fff;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;


$card-border-color: transparent;
$card-bg: #fff;
$card-border-radius: 0;
$card-inner-border-radius: 0;

$primary: $primary-color;
$secondary: $secondary-color;

$heading-font: var(--font-tajawal);
$heading-color: #0d0d0d;
$heading-color-dark: #0d0d0d;

$white: #fff;

$text-color: #676767;

$border: #efefef;

$base-themes: (
  "tertiary": $tertiary-color,
  "dashboard-primary": $primary-color,
  "dashboard-secondary": $secondary-color,
  "brown": $brown,
);

// $container-max-widths: (
//   sm: 540px,
//   md: 980px,
//   lg: 1280px,
//   xl: 1440px,
//   xxl: 1630px
// );

$headings-font-family: var(--font-tajawal);


// Bg Color
$dark-black: #121416;
$light-bg: #f7f7f7;

$font-size-root: 15px;

// Responsive Variables
$lp: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$xl: 'only screen and (min-width: 1200px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xm:'(max-width: 991px)';
$xs:'(max-width: 767px)';
$xss:'(max-width: 400px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

$sidebar-width: 265px;
$sidebar-height: 60px;


$input-focus-box-shadow: none;
$input-focus-border-color:  none;
$input-font-size: .925em;
$input-border-radius: 0;
$input-border-radius-lg: 0;
// $input-color: var(--bs-gray-700);
// $input-bg: var(--bs-gray-200);
// $input-border-color: $input-bg;
// $input-group-addon-bg: $input-bg;

$auctions-sidebar-width: 300px;

// Buttons
$btn-font-weight: 600;

// Modal
$modal-content-border-radius: 0;
$modal-content-border-color: transparent;
