.container {
    min-height: 100vh;

    * {
        color: #515DCD
    }

    &__title {
        p {
            font-size: 40px;
        }

        hr {
            color: #515DCD
        }
    }

    &__categories {
        margin-top: 65px;
        display: flex;
        justify-content: space-around;
    }

    &__main {
        margin-top: 95px;
        margin-bottom: 95px;
    }

    &__how {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #515DCD;
        border-radius: 4px;
        padding: 20px;
    }


}

.card {
    width: 280px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.filters {
    display: flex;
    flex-direction: column;
}

.grid {
    &__header {
        display: flex;
        justify-content: space-between;

        p {
            // font-size: 40px;
        }
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }
}

.artwork {
    width: 100%;
    border-radius: 8px;
    $self: &;
    transition: all .2s ease;

    &:hover {
      transform: scale(1.05);
    }

    &__image {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: .2s ease;
        // border-top-left-radius: 8px;
        // border-top-right-radius: 8px;
    }

    &__body {
        background-color: #FE3434;
        padding: 10px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        p {
            color: white;
            font-size: 20px;
        }

        &__details {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div:nth-of-type(1) {
                display: flex;
                align-items: center;

                p {
                    margin-left: 10px;
                    font-size: 12px;

                    span {
                        color: white;
                        font-size: 13px;
                    }
                }
            }

            div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                text-align: right;

                p {
                    font-size: 12px;
                    margin: 0;
                }
            }
        }

        &__footer {
            display: flex;
            align-items: center;

            button {
                width: 120px;
                height: 40px;
                border: 2px solid white;
                border-radius: 8px;
                background-color: transparent;
                color: white;
            }
        }
    }
}

.steps {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 20px;
        text-align: center;

        img {
            width: 200px;
            height: auto;
            margin-bottom: 20px;
        }
    }
}

.checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
}

.artwork {

}