.auctions {
  .auctions-sidebar {
    flex-basis: $auctions-sidebar-width;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 1em;
  }

  .auction-card {
    border: transparent;
    box-shadow: 0px 9px 20px 0px rgba(22, 26, 57, 0.2);
    margin-bottom: 30px;

    .card-img-top {
      position: relative;
      height: 290px;
      overflow: hidden;
    }

    &__description {
      margin-bottom: 1em;
      color: var(--bs-gray-900);

      p {
        color: inherit;
      }
    }

    &__details {
      p {
        font-size: .925em;
      }
    }
  }
}


.auctions-single {
  .auction-single-header {
    display: flex;
    align-items: center;
    height: 300px;
    background-color: var(--bs-gray-200);
    color: var(--bs-gray-800);

    p {
      color: var(--bs-gray-900);
    }

    .container, .row {
      height: 100%;
    }

    .auction-single-details {
      height: 100%;
      display: flex;
      width: 100%;
    }

    .auction-single-timer {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 300px;
      width: 300px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #285f2c;
      color: #fff;

      h4 {
        color: inherit;
      }

      p {
        text-align: center;
        color: #fff;

        &.value {
          font-size: 1.5em;
        }
      }
      
    }
  }
}
