.content-container {
  margin: calc($sidebar-height + 1em);
}

.shop-index-section {
  padding-top: 3em;

  &__title {
    font-size: 3em;
    // font-weight: 700;
  }
}

.shop-content {
  margin-top: 160px;
}

.shop-banner {
  margin-top: -160px;
}